<!--<section id="header" ng-init="init()">-->
	<!--aici ar trebui sa faci un ngshow (pg_curenta!=home)-->
  <h1>Grama Matei</h1>
  <nav class="links">
    <ul class="navButtonList">
      <li><a href="#homescreen"> Home </a></li>
      <li><a href="#about"> About me </a></li>
      <li><a href="#projects"> My projects </a></li>
      <li><a href="#contact"> Contact me </a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="menu" ng-click="menuButton()" >   
       <img id="menu-icon" src="../images/menu.png" />
      </li>
      

    </ul>
  </nav>
<!--</section>-->